<!-- Hero Section -->
<header class="bg-black text-white text-center py-5 custom-header-height" >
    <div class="container">
        <h1 class="display-4">Empowering Women Through Technology</h1>
        <p class="lead">Building solutions for social impact, by women, for women</p>
        <a href="#contact" class="btn btn-danger btn-lg">Get in Touch</a>
    </div>
</header>

<!-- About Us -->
<section id="about" class="py-5">
    <div class="container">
        <h2 class="text-center mb-4 text-black">About Mama Tech</h2>
        <p class="p-text text-center">
            Mama Tech is a boutique, full-service development agency focused on creating technology solutions for social good. 
            We offer end-to-end tech development services, from initial concept to launch, with a strong emphasis on driving social change. <br>
            Our mission is to develop technology-driven projects that create lasting positive impact, 
            particularly for women and marginalized communities.   
        </p>
    </div>
</section>

<!-- Services -->
<section id="services" class="row bg-light py-5">
    <div class="col-12 text-center">
        <h2 class="text-black">Our Services</h2>
    </div>
    <div class="col-md-4 p-4 d-flex">
        <div class="card text-center">
            <div class="card-body p-5">
                <h5 class="card-title">Full Circle Development</h5>
                <i class="bi bi-arrow-repeat"></i>
                <p class="p-text card-text">
                    We provide end-to-end tech development services, 
                    from initial concept through to launch, 
                    with a focus on creating solutions that drive social change.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 p-4 d-flex">
        <div class="card text-center">
            <div class="card-body p-5 text-white bg-dark rounded">
                <h5 class="card-title">Mentorship for Women</h5>
                <i class="bi bi-person-lines-fill text-white"></i>
                <p class="card-text">
                    We guide women transitioning into tech careers, offering mentorship to help 
                    them navigate their professional growth in the industry.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 p-4 d-flex">
        <div class="card text-center">
            <div class="card-body p-5">
                <h5 class="card-title">Tech for Good Projects</h5>
                <i class="bi bi-globe"></i>
                <p class="card-text">
                    We work on technology-driven projects 
                    that create lasting positive change in society, 
                    particularly for women and marginalized communities.
                </p>
            </div>
        </div>
    </div>    
</section>

<!-- Showcase -->
<!-- <section id="showcase" class="py-5 ">
    <div class="container">
        <h2 class="text-center mb-4 text-black">Our Work</h2>
        <div id="workCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">

                <!-- Carousel Item 1 -->
                <!-- <div class="carousel-item active">
                    <a href="https://example.com/project1" target="_blank">
                        <img src="<%= asset_path('elearning-platform-svg.webp') %>" class="d-block w-100 img-contain" alt="E-Learning Platform">
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Project 1</h5>
                        <p>Description of Project 1.</p>
                    </div>
                </div> -->

                <!-- Carousel Item 2 -->
                <!-- <div class="carousel-item">
                    <a href="https://example.com/project2" target="_blank">
                        <img src="<%= asset_path('healthtech-mobile-app-svg.webp') %>" class="d-block w-100 img-contain" alt="Health Mobile App">
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Project 2</h5>
                        <p>Description of Project 2.</p>
                    </div>
                </div> -->

                <!-- Carousel Item 3 -->
                <!-- <div class="carousel-item">
                    <a href="https://example.com/project3" target="_blank">
                        <img src="<%= asset_path('gender-equality-website-svg.webp') %>" class="d-block w-100 img-contain" alt="Gender Equality Website">
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Project 3</h5>
                        <p>Description of Project 3.</p>
                    </div>
                </div> -->

                <!-- Add more carousel items as needed -->

            <!-- </div> -->

            <!-- Carousel controls -->
            <!-- Previous button -->
            <!-- <button class="carousel-control-prev custom-carousel-control-prev" type="button" data-bs-target="#workCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon rounded" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button> -->

            <!-- Next button -->
            <!-- <button class="carousel-control-next custom-carousel-control-next" type="button" data-bs-target="#workCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon rounded" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button> -->
        <!-- </div> -->
    <!-- </div> -->
<!-- </section> -->


<!-- Testimonials -->
<!-- <section id="testimonials" class="row bg-light py-5">
    <div class="col-12 text-center">
        <h2 class="text-black">Testimonials</h2>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>Mama Tech helped us build a product that transformed our approach to women's health.</p>
                    <footer class="blockquote-footer">Client Name</footer>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>The mentorship program at Mama Tech was invaluable in helping me transition into tech.</p>
                    <footer class="blockquote-footer">Client Name</footer>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>The mentorship program at Mama Tech was invaluable in helping me transition into tech.</p>
                    <footer class="blockquote-footer">Client Name</footer>
                </blockquote>
            </div>
        </div>
    </div>
</section> -->
<section id="contact" class="row py-5">
    <div class="col-12 text-center">
        <h2 class="text-black">Contact Form</h2>
    </div>
    <%= render "contact_form/new" %>
</section>
